.header__box {
  display: flex;
  padding: 15px 35px;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}

.logo {
  display: inline-block;
}

.logo__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 15px;
}
.logo__link img {
  width: 35px;
  height: 40px;
}

.logo__text {
  font-weight: 700;
  font-size: 18px;
  color: #0768B5;
}

.form {
  display: flex;
  width: 495px;
  align-items: center;
  background-color: rgba(7, 45, 75, 0.1);
  border-radius: 10px;
  padding-right: 12px;
}
.form::after {
  display: block;
  content: " ";
  width: 24px;
  height: 24px;
  background-image: url(/assets/icons/icon-search.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.form input {
  width: 100%;
  padding: 10px 12px;
  border-radius: 10px;
  border: transparent;
  background-color: transparent;
  color: #2d7edc;
  font-size: 22px;
  font-weight: 500;
}
.form input::-moz-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(7, 45, 75, 0.4);
  opacity: 1; /* Firefox */
}
.form input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(7, 45, 75, 0.4);
  opacity: 1; /* Firefox */
}
.form input :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(7, 45, 75, 0.4);
}
.form input ::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(7, 45, 75, 0.4);
}
.form input:focus {
  outline: 2px dashed rgb(85, 195, 231);
}

.dropdown {
  display: flex;
  align-items: center;
}
.dropdown::before {
  display: block;
  width: 24px;
  height: 24px;
  content: " ";
  background-image: url(/assets/icons/icon-user.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.dropdown-menu {
  padding: 0;
  border: none;
  background-color: transparent;
}

.dropdown-item {
  text-align: center;
  border: 1px solid rgb(85, 195, 231);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.dropdown-item:hover {
  background-color: rgb(85, 195, 231);
  color: #fff;
}
.dropdown-item:last-child {
  margin-bottom: none;
}

.side-left {
  width: 260px;
}

.side-left__list {
  display: flex;
  flex-direction: column;
  width: 243px;
  list-style: none;
  padding: 0;
  margin-bottom: 123px;
}

.side-left__item {
  display: flex;
  align-items: center;
  width: 243px;
  padding: 10px 10px 10px 35px;
  border-bottom-right-radius: 18px;
  border-top-right-radius: 18px;
}
.side-left__item:first-child ::before {
  display: block;
  width: 24px;
  height: 24px;
  content: " ";
  background-image: url(/assets/icons/icon-home.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.side-left__item:first-child::before {
  content: " ";
  width: 7px;
  height: 7px;
  background-color: #2F9FF8;
  font-weight: bold;
  display: inline-block;
  border-radius: 100px;
  position: absolute;
  margin-left: -15px;
}
.side-left__item:hover {
  transition: background-color 0.5s ease;
  background-color: lightblue;
}
.side-left__item:hover::before {
  content: " ";
  color: #2F9FF8;
  font-weight: bold;
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 100px;
  background-color: #2F9FF8;
  position: absolute;
  margin-left: -15px;
}
.side-left__item:hover .side-left__link {
  transition: color 0.5s ease;
  color: #2F9FF8;
}
.side-left__item:hover .icon-aside {
  transition: color 0.5s ease;
  color: #2F9FF8;
}

.side-left__link {
  display: flex;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  color: rgb(23, 27, 23);
}

.icon-aside {
  display: flex;
  color: rgb(23, 27, 23);
}

.discount {
  width: 227px;
  padding: 20px;
  background-color: #2F9FF8;
  color: #fff;
  margin-left: 16px;
  border-radius: 10px;
}

.discount__heading {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 15px;
  gap: 15px;
  margin-bottom: 13px;
}
.discount__heading::before {
  display: block;
  width: 24px;
  height: 24px;
  content: " ";
  background-image: url(/assets/icons/icon-gift.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.discount__cost {
  display: flex;
  align-items: center;
  gap: 20px;
}
.discount__cost p {
  margin-bottom: 0;
}
.discount__cost p b {
  font-weight: 700;
  font-size: 30px;
}

.button {
  padding: 10px 27px;
  background-color: #0768B5;
  color: #fff;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/") format("woff2"), url("./assets/fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Bold.woff2") format("woff2"), url("./assets/fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Medium.woff2") format("woff2"), url("./assets/fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
*:focus {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 22px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  background-color: rgba(215, 230, 232, 0.8);
  color: rgba(153, 153, 153, 0.9);
}/*# sourceMappingURL=global.css.map */